{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "ToDo/login.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="cont">
        <h1>Login page</h1>
    <form action="" method="post">
        {% csrf_token %}
        <label for="name">Username:</label>
        {{form.name}}
        <br><br>
        <label for="pwd">Password:</label>
        {{form.pwd}}
        <br><br>
        <button>Login</button>
    </form></div>
</body>
</html>

